{% extends "pages/page.html" %}

{% load i18n %}

{% block extra_js %}
  <script  charset="utf-8" type="text/javascript">
  $(function(){
    $("select#id_firm").change(function(){
      $.getJSON("/bikelist/ajax/getmodel/",{firm:+$(this).val()}, function(j) {
        var options = '';
        for (var i = 0; i < j.length; i++) {

          options += '<option value="' + parseInt(j[i].pk) + '">' + j[i].fields['modelName']  ;
          if (j[i].fields['year']!=null) {
            options += ' ('+ j[i].fields['year'] +')';
          }
          options += '</option>';
        }
        $("#id_model").html(options);
        $("#id_model option:first").attr('selected', 'selected');
        $("#id_model").attr('disabled', false);
      })
      $("#id_firm").attr('selected', 'selected');
    })
  })
  </script>
{% endblock %}

{% block extra_css %}

{% endblock %}

{% block main %}
{% comment %}
  <div>
    <h1 class="btexthead">{% trans "bike card" %}</h1>
    <a class="btn blistheadbtn" href="/bikelist">{% trans "return list" %}</a>
    </div>
{% endcomment %}
   <form>
       <fieldset>
            <label>{{ testinfo }}</label>
            <button type="submit" class="btn">Submit</button>
        </fieldset>
   </form>
{% endblock %}