{% extends "pages/page.html" %}

{% load i18n %}

{% block extra_js %}

  <script  charset="utf-8" type="text/javascript">
  $(function(){
    $("select#id_firm").change(function(){
      $.getJSON("/bikelist/ajax/getmodel/",{firm:+$(this).val()}, function(j) {
        var options = '';
        for (var i = 0; i < j.length; i++) {

          options += '<option value="' + parseInt(j[i].pk) + '">' + j[i].fields['modelName']  ;
          if (j[i].fields['year']!=null) {
            options += ' ('+ j[i].fields['year'] +')';
          }
          options += '</option>';
        }
        $("#id_model").html(options);
        $("#id_model option:first").attr('selected', 'selected');
        $("#id_model").attr('disabled', false);
      })
      $("#id_firm").attr('selected', 'selected');
    })
  })

  $(document).ready(function(){
        $('#stolenblock').hide(); // Для скрытия блока (с инфой о пропаже)
        $('#id_chk_stolen').change(function(){
            $('#stolenblock').fadeToggle();
            });
   })

  $(function() {
      //  function log( message ) {
     //       $( "<div>" ).text( message ).prependTo( "#log" );
     //      $( "#log" ).scrollTop( 0 );
     //   }

        $( "#id_city" ).autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "http://ws.geonames.org/searchJSON",
                    dataType: "jsonp",
                    data: {
                        featureClass: "P",
                        style: "full",
                        maxRows: 12,
                        name_startsWith: request.term
                    },
                    success: function( data ) {
                        response( $.map( data.geonames, function( item ) {
                            return {
                                label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
                                value: item.name
                            }
                        }));
                    }
                });
            },
            minLength: 2,
        //    select: function( event, ui ) {
        //        log( ui.item ?
        //            "Selected: " + ui.item.label :
        //            "Nothing selected, input was " + this.value);
        //   },
            open: function() {
                $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
        });
    });

  </script>
{% endblock %}

{% block extra_css %}
 <style>
    .ui-autocomplete-loading {
        background: white url("{{ STATIC_URL }}img/load16x16.gif") right center no-repeat;
    }
 </style>
{% endblock %}

{% block main %}
{% comment %}
  <div>
    <h1 class="btexthead">{% trans "bike card" %}</h1>
    <a class="btn blistheadbtn" href="/bikelist">{% trans "return list" %}</a>
    </div>
{% endcomment %}

{% if not commit %}
  <form enctype="multipart/form-data" action="" method="post"> {% csrf_token %}

        <legend>{% trans "add bike" %}</legend>

        {{ formset }}

        <div id="stolenblock">
             <label>{% trans "Address" %}</label>
            <input type="text"  name="num_frame">

             <label class="checkbox">
                <input type="checkbox"> {% trans "statement to the police" %}
            </label>

             <label>{% trans "notes on the incident" %}</label>
            <textarea rows="2" name="stolen_notes"></textarea>
        </div>

    <div class="form-actions">
        <input class="btn btn-primary btn-large" type="submit" value={% trans "Submit" %}>
    </div>

   </form>
{% else %}
    <h1> Готово !</h1>
{% endif %}
{% endblock %}