{% extends "pages/page.html" %}

{% load i18n %}

{% block extra_js %}

  <script  charset="utf-8" type="text/javascript">
  $(function(){
    $("select#id_firm").change(function(){
      $.getJSON("/bikelist/ajax/getmodel/",{firm:+$(this).val()}, function(j) {
        var options = '';
        for (var i = 0; i < j.length; i++) {

          options += '<option value="' + parseInt(j[i].pk) + '">' + j[i].fields['modelName']  ;
          if (j[i].fields['year']!=null) {
            options += ' ('+ j[i].fields['year'] +')';
          }
          options += '</option>';
        }
        $("#id_model").html(options);
        $("#id_model option:first").attr('selected', 'selected');
        $("#id_model").attr('disabled', false);
      })
      $("#id_firm").attr('selected', 'selected');
    })
  })


    $(document).ready(function(){
        $('#stolenblock').hide(); // Для скрытия блока (с инфой о пропаже)
        $('#checkbox_stolen').change(function(){
            $('#stolenblock').fadeToggle();
            });
    })
  $(function() {
      //  function log( message ) {
     //       $( "<div>" ).text( message ).prependTo( "#log" );
     //      $( "#log" ).scrollTop( 0 );
     //   }

        $( "#city" ).autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "http://ws.geonames.org/searchJSON",
                    dataType: "jsonp",
                    data: {
                        featureClass: "P",
                        style: "full",
                        maxRows: 12,
                        name_startsWith: request.term
                    },
                    success: function( data ) {
                        response( $.map( data.geonames, function( item ) {
                            return {
                                label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
                                value: item.name
                            }
                        }));
                    }
                });
            },
            minLength: 2,
        //    select: function( event, ui ) {
        //        log( ui.item ?
        //            "Selected: " + ui.item.label :
        //            "Nothing selected, input was " + this.value);
        //   },
            open: function() {
                $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
        });
    });

  </script>
{% endblock %}

{% block extra_css %}
 <style>
    .ui-autocomplete-loading {
        background: white url("{{ STATIC_URL }}img/load16x16.gif") right center no-repeat;
    }
 </style>
{% endblock %}

{% block main %}
{% comment %}
  <div>
    <h1 class="btexthead">{% trans "bike card" %}</h1>
    <a class="btn blistheadbtn" href="/bikelist">{% trans "return list" %}</a>
    </div>
{% endcomment %}
  <form action="/bikelist/actaddbike/" method="post"> {% csrf_token %}
  <!--  <fieldset> -->
        <legend>{% trans "add bike" %}</legend>

        <label>{% trans "frame number" %}</label>
        <input type="text"  name="num_frame">
        <div class="controls">
            <label>{% trans "firm" %}</label>
            <select id="id_firm" name="firm">
                  <option value="">--------&nbsp;</option>
                {% for firm in bicycleFirms %}
                  <option value="{{ firm.id }}">{{ firm.firmName }}</option>
                {% endfor %}

            </select>
            <span class="help-inline">{% trans "If you do not see the desired item then enter it in the additional information" %}</span>
        </div>
        <label>{% trans "model" %}</label>
        <select id="id_model">
                <option value="">--------&nbsp;</option>
        </select>

        <label>{% trans "frame size" %}</label>
        <select>
            <option value="">--------&nbsp;</option>
            {% for size in sizes  %}
            <option value="{{ size }}">{{ size }} "</option>
           {% endfor %}

        </select>

        <label>{% trans "color" %}</label>
        <select>
            {% for color in colors %}
              <option>{{ color.name }}</option>
            {% endfor %}
        </select>

        <label>{% trans "brake type" %}</label>
        <select>
                <option>--------&nbsp;</option>
                <option value="1">{% trans "disk" %}</option>
                <option value="2">{% trans "v-brake" %} </option>
                <option value="3">{% trans "other" %}</option>
        </select>

        <label>{% trans "city" %}</label>
        <input id="city" type="text" name="city">

        <label>{% trans "additional information" %}</label>
        <textarea rows="2"></textarea>

        <label>{% trans "select photo" %}</label>
        <input type="file" name="field_5" id="id_field_5">

        <label class="checkbox" id="checkbox_stolen">
            <input type="checkbox"> {% trans "stolen" %}
        </label>
        <div id="stolenblock">
             <label>{% trans "Address" %}</label>
            <input type="text"  name="num_frame">

             <label class="checkbox">
                <input type="checkbox"> {% trans "statement to the police" %}
            </label>

             <label>{% trans "notes on the incident" %}</label>
            <textarea rows="2"></textarea>
        </div>
  <!--  </fieldset> -->
    <div class="form-actions">
        <input class="btn btn-primary btn-large" type="submit" value={% trans "Submit" %}>
    </div>

   </form>
{% endblock %}