{% extends "pages/page.html" %}

{% load i18n %}

{% block extra_js %}

  <script  charset="utf-8" type="text/javascript">
   $(function() {
    $( "#id_stolen_date" ).datepicker();
    $( "#id_stolen_date" ).datepicker("option", "dateFormat", "dd-mm-yy" );

  });

  $(function(){
    $("select#id_firm").change(function(){
      $.getJSON("/bikelist/ajax/getmodel/",{firm:+$(this).val()}, function(j) {
        var options = '';
        for (var i = 0; i < j.length; i++) {

          options += '<option value="' + parseInt(j[i].pk) + '">' + j[i].fields['modelName']  ;
          if (j[i].fields['year']!=null) {
            options += ' ('+ j[i].fields['year'] +')';
          }
          options += '</option>';
        }
        $("#id_model").html(options);
        $("#id_model option:first").attr('selected', 'selected');
        $("#id_model").attr('disabled', false);
      })
      $("#id_firm").attr('selected', 'selected');
    })
  })

  $(document).ready(function(){
        $('#stolenblock').hide(); // Для скрытия блока (с инфой о пропаже)
        $('#id_chk_stolen').change(function(){
            if ($('#id_chk_stolen').is(':checked')){
               $('#stolenblock').show("drop");
            }else{
               $('#stolenblock').hide("drop"); //   $('#stolenblock').fadeToggle();
            };
            });
         
   })

  $(function() {
      //  function log( message ) {
     //       $( "<div>" ).text( message ).prependTo( "#log" );
     //      $( "#log" ).scrollTop( 0 );
     //   }

        $( "#id_city" ).autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "http://ws.geonames.org/searchJSON",
                    dataType: "jsonp",
                    data: {
                        featureClass: "P",
                        style: "full",
                        maxRows: 12,
                        name_startsWith: request.term
                    },
                    success: function( data ) {
                        response( $.map( data.geonames, function( item ) {
                            return {
                                label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
                                value: item.name
                            }
                        }));
                    }
                });
            },
            minLength: 2,
        //    select: function( event, ui ) {
        //        log( ui.item ?
        //            "Selected: " + ui.item.label :
        //            "Nothing selected, input was " + this.value);
        //   },
            open: function() {
                $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
        });
    });

  </script>
{% endblock %}

{% block extra_css %}
 <style>
    .ui-autocomplete-loading {
        background: white url("{{ STATIC_URL }}img/load16x16.gif") right center no-repeat;
    }
    .errorlist li {
        color: #B94A48;
    }
 </style>
{% endblock %}

{% block main %}
{% comment %}
  <div>
    <h1 class="btexthead">{% trans "bike card" %}</h1>
    <a class="btn blistheadbtn" href="/bikelist">{% trans "return list" %}</a>
    </div>
{% endcomment %}

{% if not commit %}
  <form enctype="multipart/form-data" action="" method="post"> {% csrf_token %}

        <legend>{% trans "add bike" %}</legend>

          <label for="id_firm">{% trans "Firm" %}</label>
         {{ formset.firm }}
         <span class="help-inline">{{ formset.firm.errors }}</span>

         <label for="id_model">{% trans "Model" %}</label>
         {{ formset.model }}
        <span class="help-inline">{{ formset.model.errors }}</span>

        <label for="id_size_frame">{% trans "Frame size" %}</label>
        {{ formset.size_frame }}
        <span class="help-inline">{{ formset.size_frame.errors }}</span>

        <label for="id_colorBicycle">{% trans "Color" %}</label>
        {{ formset.colorBicycle }}
        <span class="help-inline">{{ formset.colorBicycle.errors }}</span>

        <label for="id_brake_type">{% trans "Brake type" %}</label>
       {{ formset.brake_type }}
        <span class="help-inline">{{ formset.brake_type.errors }}</span>

        <label for="id_city_new">{% trans "City" %}</label>
        {{ formset.city_new }}
        <span class="help-inline">{{ formset.city_new.errors }}</span>

        <label for="id_comment">{% trans "Additional information" %}</label>
        {{ formset.comment }}
        <span class="help-inline">{{ formset.comment.errors }}</span>

        <label for="id_img_file">{% trans "Select photo" %}</label>
       {{ formset.img_file }}
        <span class="help-inline">{{ formset.img_file.errors }}</span>

        <label for="id_chk_stolen" class="checkbox" id="checkbox_stolen">
           {{ formset.chk_stolen }} {% trans "Stolen" %}
        </label>
   <!--  end -->
        <div id="stolenblock">
             <label for="id_stolen_address">{% trans "Address" %}</label>
             {{ formset.stolen_address }}
            <span class="help-inline">{{ formset.stolen_address.errors }}</span>

            <label for="id_stolen_date">{% trans "Date" %}</label>
            {{ formset.stolen_date }}
            <span class="help-inline">{{ formset.stolen_date.errors }}</span>

             <label for="id_stolen_spk_police" class="checkbox">
                {{ formset.stolen_spk_police }} {% trans "statement to the police" %}
            </label>

            <label for="id_stolen_note">notes on the incident</label>
            {{ formset.stolen_note }}
            <span class="help-inline">{{ formset.stolen_note.errors }}</span>
        </div>

    <div class="form-actions">
        <input class="btn btn-primary btn-large" type="submit" value={% trans "Submit" %}>
    </div>

   </form>
{% else %}
    <h1> Готово !</h1>
{% endif %}
{% endblock %}