*.pyc
*.pyo
*.db
.DS_Store
.coverage
local_settings.py
static/

/.idea
/.idea/zenBikeMezzanine.iml
/djangobb_forum/MAIN_WRITELOCK
/djangobb_forum/MAIN_lclgkk2wfp64.created.fc
/deploy/lib/Django-Colors-0.0.2-pre-alpha/LICENSE