{% extends "base.html" %}

{% block menu %}
<li><a href="/zenbicycle" class="first">Home</a></li>
<li class="current_page_item"><a href="#">Details</a></li>
{% endblock menu %}


{% block content %}

<div class="post">
	<h2 class="title">No such CD in our store!</a></h2>
	<div class="entry">
		<p>This is error. Please, go back to the <a href="/zenbicycle/">main</a> page</p>
	</div>
</div>

{% endblock content %}

{% block sidebar %}

<ul>
	<li>
		<h2>CD Details.</h2>
		<ul>
			<li>Here you can all available details about this CD.</li>
			<li>Please notice that only registered users may view CD cover.</li>
		</ul>
	</li>
</ul> 
	
{% endblock sidebar %}