{% extends "base.html" %}

{% block menu %}
<li class="current_page_item"><a href="/zenbicycle" class="first">Home</a></li>
<li><a href="#">Details</a></li>
{% endblock menu %}

{% block content %}


{% if prodCount %}

	<table CELLPADDING="5" RULES="rows" ALIGN="left" width="700">
    	<tr>
    		<td width="45%"><b>title</b></td>
    		<td width="25%"><b>author</b></td>
    		<td width="10%"><b>price</b></td>
    		<td width="10%"><b>counts</b></td>
    		<td width="10%"><b>total</b></td>
    	</tr>
    	{% for product in prodCount %}
			<tr>
				<td><a href="/cdstore/{{ product.cd.id }}">{{ product.cd.title }}</td>
				<td>{{ product.cd.author }}</td>
				<td>{{ product.cd.price }} $</td>
				<td>{{ product.count }}</td>
				<td>{{ product.totalOne }} $</td>
			</tr>
    	{% endfor %}
    	<tr>
			<td colspan="4" align="right">Total price: </td>
			<td>{{total}} $</td>
    	</tr>
    	<tr>
    		<td colspan="5" align="right"><a href="/zenbicycle/cart/confirm/pdf">confirm</a></td>
    	</tr>
    </table>
        
{% else %}
    <p>No CDs are available.</p>
{% endif %}

{% endblock content %}

{% block sidebar %}

{% endblock sidebar %}