{% extends "base.html" %}

{% block menu %}
<li><a href="/zenbicycle" class="first">Home</a></li>
<li class="current_page_item"><a href="#">Details</a></li>
{% endblock menu %}


{% block content %}

<div class="post">
	<h2 class="title"><a href="/cdstore/{{ cd.id }}/">CD #{{ cd.id }}: {{ cd.title }}</a></h2>
	<div id="cartBar">
		<ul>
			{% if user.is_authenticated %}
				{% if not cart_quantity %}
					<li><h3 class="bar"><a href="/cdstore/{{ cd.id }}/cartadd">Add to cart</a></h3></li>
				{% else %}
					<li><h3 class="bar"><a href="/cdstore/{{ cd.id }}/cartremove">Remove from cart</a> (currently you have {{ cart_quantity }} units in your <a href="/zenbicycle/cart">cart</a>)</h3></li>
				{% endif %}
			{% endif %}
		</ul>
	</div>
	<div class="entry">
		<p>Author: {{ cd.author }}</p>
		
		<p>Tracks on this CD:</p>
		{% if cd.track_set.all %}
			<p>
			{% for track in cd.track_set.all %}
				{{ track.number }}: <b>{{ track.title }}</b> [{{ track.duration }}]<br>
			{% endfor %}
			</p>
		{% else %}
			<p>No tracks are available.</p>
		{% endif %}
		
		{% if user.is_authenticated and cd.cover_path %} 
			<p>CD Cover:</p>
			<img src="/cdstore/covers/{{ cd.cover_path }}"></p>
		{% endif %}
	</div>
</div>

{% endblock content %}

{% block sidebar %}

<ul>
	<li>
		<h2>CD Details.</h2>
		<ul>
			<li>Here you can all available details about this CD.</li>
			<li>Please notice that only registered users may view CD cover.</li>
		</ul>
	</li>
</ul> 
	
{% endblock sidebar %}